<%- include('./partials/head') %>

<h1>Choose a starter squad</h1>

<nav>
  <ul>
    <!-- Met de forEach loop zorg ik ervoor dat hij voor elke squad een li is met alle info erin -->
    <% squads.forEach(squad => { %>
    <li class="squadcard">
      <a href="./squad/<%= squad.id %>">
        <!-- for elke squad kies juiste image -->
          <img src="assets/Type_Fire.webp" alt="type fire">
        <h2>Squad <%= squad.name %></h2>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>

<%- include('./partials/foot') %>