<%- include('./partials/head') %>

<h1>Kies een squad</h1>

<nav>
  <ul>
    <!-- Met de forEach loop zorg ik ervoor dat hij voor elke squad een li is met alle info erin -->
    <% squads.forEach(squad => { %>
    <li>
      <a href="./squad/<%= squad.id %>">
        <h2><%= squad.name %></h2>
      </a>
    </li>
    <% }) %>
  </ul>
</nav>

<%- include('./partials/foot') %>