:root{
  --primary-color: #e35932;
  --secondary-color: #F29b83;
  --tertiary-color: #f7b29e;
  --quaternary-color: #a56328;
  --border-color: #D5AF21;
  /* --border-color: #d5af21; */
  --card-background-color: linear-gradient(0deg, var(--primary-color) 2%, var(--secondary-color) 7%, var(--tertiary-color) 11%, 
  var(--secondary-color) 15%, var(--tertiary-color) 22%, var(--tertiary-color) 29%, var(--primary-color) 53%, var(--secondary-color) 60%, 
  var(--primary-color) 69%, var(--tertiary-color) 85%, var(--primary-color) 100%);
}