:root{
  --primary-color: #1b0819;
  --secondary-color: #b1d3d7;
  --tertiary-color: #ffffff;

  --fire-color: #FF983F;
  --firedark-color: #a56328;
  --water-color: #3393DD;
  --waterdark-color: #246699;
  --grass-color: #35C04A;
  --grassdark-color: #258433;
}

/* #region nav Kies je Squad */
/* #region Pokeball */
.pokeball {
  display: block;
  width: 200px;
  height: 200px;
  background: radial-gradient(
    white 16px,
    black 17px 18px,
    white 19px 24px,
    black 25px 32px,
    transparent 33px
  ),
  linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
  border: 8px solid black;
  border-radius: 10rem;
  box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
  margin: 3rem;

  & a{
    display: flex;
    flex-direction: column;

    & h2{
      text-align: center;
      margin-bottom: 5.5rem;
    }
  }  
}
/* #endregion Pokeball */
/* #endregion nav Kies je Squad */

/* #region Personpage */
/* #region main */
main{
  & img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
}
.pokedex{
  margin: 0 auto;
  max-width: 500px;
}
/* #endregion main */

/* #endregion Personpage */