*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --border-radius: 5%;
  --border: solid var(--border-color) 5px;

  --card-width: 325px;
  --card-height: 500px;
  --pokeball-px: 200px;
  --avatar-width: 250px;
  --avatar-height: 155px;
}

body{
  background-color: var(--secondary-color);
  padding:0;
  margin:0;
}

a{
  color: black;
  text-decoration: none;
}

p{
  font-size: 20px;
}

/* #region header */
header{
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0 15px;

  & h1{
    width: 90%;
  }
}

h1{
  text-align: center;
}

.goback{
  display: flex;
  align-items: center;
  width: 5%;
  min-width: 60px;
  transition-duration: 300ms;
}

.goback:hover{
  scale: 1.1;
  transition-duration: 300ms;
  /* border: 1px solid black; */
}
/* #endregion header */


ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
}

/* #region main */
.dropdown{
  display:flex;
  flex-direction: column;
  width: 100vh;
  max-width: 375px;
  padding: 1rem 4rem;
  font-size: 20px;
  background-color: var(--tertiary-color);

  & legend{
    font-weight: bold;
  }

  & legend:hover{
    scale: 1.1;
    text-decoration: underline;
  }

  & .sort{
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    height: 0;
    transition-property: opacity, z-index;
    transition: 0.5s;
  }

  & a:hover{
    text-decoration: underline;
  }
}

/* Show the sorting options */
.show{
  & .sort{
    z-index: 2;
    opacity: 1;
    height: 90px;
  }
}


/* PersonCard */
/*PokemonCard*/

.pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 1rem;
}

.pokemon-card {
  width: var(--card-width);
  margin-bottom: 2rem;
  margin-top: 2rem;
  height: var(--card-height);
  border: 15px solid var( --border-color);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  background: rgb(227,89,50);
  background: var(--card-background-color)
}

.person-nickname h2{
  font-size: 26px;
  float: left;
}

.cardPokemon-avatar{
  margin-top: .125rem;
  margin-left: .5rem;
  width: var(--avatar-width);
  height: var(--avatar-height);
  background-color: var( --border-color);
  border-radius: var(--border-radius);
  
  & img{
    width: var(--avatar-height);
    height: var(--avatar-height);
    object-fit: cover;
    margin: 0 3rem;
  }
}

.cardPokemon-avatar::after {
  content: attr(alt);
  font-weight: bold;
  position: absolute;
  height: var(--avatar-height);
  width: var(--avatar-width);
  transform: translateX(-130px);
  align-content: center;
}

.cardPokemon-information{
  background-color: var( --border-color);
  width: 200px;
  height: 20px;
  margin-left: 1.75rem;
  border-radius: 5%;
  filter: drop-shadow(0 0 0.125rem black);
}

.pokemonAttack1{
  margin-top: 2.25rem;
  border-bottom: 2px solid black;
}

.pokemonAttack2{
  margin-top: 1.75rem;
  border: 1.5px solid black;
}

.pokemonCard-bio{
  margin-top: 1.75rem;
  border: 2px solid #000;
  background-color: var(--tertiary-color);
  padding: 0 5px;
  height: 90px;
  overflow-y: scroll;
}

.pokemonTyping{
  background: var(--primary-color);
  background: linear-gradient(200deg,var(--primary-color) 50%,
  var(--secondary-color) 100%);
  filter: drop-shadow(0 0 0.125rem black);
  border-radius: 50%;
  height: 28px;
  width: 28px;
  float: right;
  margin-right: .5rem;
}

.pokemonStar{
  background-color: var(--primary-color);
  filter: drop-shadow(0 0 0.125rem black);
  border-radius: 50%;
  height: 23px;
  width: 23px;
  float: left;
  margin-right: .5rem;
}

/*end pokemonCard*/
/* #endregion main */