*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  color: black;
  text-decoration: none;
}

/* #region header */
header{
  display: flex;
  align-items: center;
  background-color: #ff6a00;

  & h1{
    width: 90%;
  }
}

h1{
  text-align: center;
}

.goback{
  display: flex;
  align-items: center;
  width: 5%;
}
/* #endregion header */


ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* #region nav */
.squadcard{
  list-style: none;
  width: 300px;
  height: 400px;
  margin: 1rem;
  background-color: #ff6a00;
  border-radius: 5%;

  & a{
    display: flex;
    flex-direction: column;

    & h2{
      text-align: center;
      margin-bottom: 5.5rem;
    }

    & img{
      margin: auto;
      margin-top: 4rem;
      width: 200px;
      height: 200px;
    }
  }
}

.squadcard::before {
  content: "";
  position: absolute;
  transform: translateX(10px) translateY(10px);
  width: 300px;
  height: 400px;
  z-index: -1;
  background-color: #e84a5f;
  border-radius: 5%;
}

.squadcard::after {
  content: "";
  position: absolute;
  transform: translateX(20px) translateY(20px);
  width: 300px;
  height: 400px;
  z-index: -2;
  background-color: #cc1a32;
  border-radius: 5%;
}
/* #endregion nav */

/* #region main */
.personcard{
  list-style: none;
  width: 300px;
  height: 400px;
  margin: 1rem;
  background-color: #ff6a00;

  & img{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  & p{
    padding-left: 10px;
    margin: 0;
  }
}
/* #endregion main */

