*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --primary-color: #ff6a00;
  --secondary-color: #cc1a32;

  --border-radius: 5%;
  --border: solid white 5px;

  --card-width: 300px;
  --card-height: 400px;
  --logo-px: 200px;
  --avatar-width: 190px;
  --avatar-height: 190px;
}

body{
  background-color: #b1d3d7;
}

a{
  color: black;
  text-decoration: none;
}

/* #region header */
header{
  display: flex;
  align-items: center;
  background-color: var(--primary-color);

  & h1{
    width: 90%;
  }
}

h1{
  text-align: center;
}

.goback{
  display: flex;
  align-items: center;
  width: 5%;
}
/* #endregion header */


ul{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

/* #region nav */
.squadcard{
  list-style: none;
  width: var(--card-width);
  height: var(--card-height);
  margin: 1.5rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border);

  & a{
    display: flex;
    flex-direction: column;

    & h2{
      text-align: center;
      margin-bottom: 5.5rem;
    }

    & img{
      margin: auto;
      margin-top: 4rem;
      width: var(--logo-px);
      height: var(--logo-px);
    }
  }
}

.squadcard:hover::before {
  content: "";
  position: absolute;
  transform: translateX(3px) translateY(3px);
  width: var(--card-width);
  height: var(--card-height);
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border);
}

.squadcard:hover::after {
  content: "";
  position: absolute;
  transform: translateX(20px) translateY(-380px);
  width: var(--card-width);
  height: var(--card-height);
  z-index: -2;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border);
}
/* #endregion nav */

/* #region main */
.personcard{
  list-style: none;
  width: var(--card-width);
  height: var(--card-height);
  margin: 1rem;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: var(--border);

  & a{
    display: grid;
    justify-content: center;
  }

  & h2{
    max-width: 250px;
  }

  & img{
    width: var(--avatar-width);
    height: var(--avatar-height);
    object-fit: cover;
  }

  & img::before {
    background-color: hsl(0, 0%, 93.3%);
    display: block;
    content: "";
    position: absolute;
    width: var(--avatar-width);
    height: var(--avatar-height);
  }

  & img::after {
    content: attr(alt);
    font-weight: bold;
    position: absolute;
    height: var(--avatar-height);
    width: var(--avatar-width);
    transform: translateX(-130px);
    text-align: center;
  }
}
/* #endregion main */

